body {
    background-image: url(Heart.webp);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    font-family: sans-serif;
    margin-top: 40px;

}

.regform {
    width: 500px;
    background-color: rgb(0, 0, 0, 0.7);
    margin: auto;
    color: #ffffff;
    padding: 10px 0px 10px 0px;
    text-align: center;
    border-radius: 15px 15px 0px 0px;

}

.main-form {
    width: 500px;
    margin: auto;
    background-color: rgb(0, 0, 0, 0.5);
    padding: 20px 50px 20px 50px;
    color: #FFFFFF;
}
.form-group {
    margin-top: 5px;
    margin-bottom: 5px;
}
.nav-text{
    -webkit-text-fill-color:darkorange;
}
