.nav-text{
    -webkit-text-fill-color:darkorange;
}
.headstyle {
    color: rgb(255, 255, 255);
    font-variant: petite-caps;
    background-color: rgb(0, 0, 0, 0.8);
    margin-bottom: 0px
}
.divstyle {
    border-radius: 10px 10px 10px 10px;
    margin-left: 1px;
    margin-right: 1px;
}
#features{
    text-align: center;
    padding:0 10px 0px 10px;
}
.card-header{
    background-color:#B4CDE6;
}
.card-body{
    background-color: coral;
    
}
.pricing-section{
    padding-bottom: 10px;
}
body {
    background-image: repeating-radial-gradient(#38E54D, #9CFF2E 25%, #FDFF00 25%);
      margin:0;
      padding:0;
      overflow-x:hidden;
  }
