/* Basic */
.headstyle {
    color: rgb(255, 255, 255);
    font-variant: petite-caps;
    background-color: rgb(0, 0, 0, 0.8);
    margin-bottom: 0px
}
.nav-text{
    -webkit-text-fill-color:darkorange;
}
.cat{
    padding:5px;
    -webkit-text-fill-color:black;
    font-size:large;
    font-weight: bold;
}
.features{
  text-align: center;
  padding: 100px;
  background-color: #00F5FF;
}
.predict{
  width:50%;
  text-align:justify;
  padding: 100px;
  
}
.btn {
  background: #3455d9;
  background-image: -webkit-linear-gradient(top, #3455d9, #2980b9);
  background-image: -moz-linear-gradient(top, #3455d9, #2980b9);
  background-image: -ms-linear-gradient(top, #3455d9, #2980b9);
  background-image: -o-linear-gradient(top, #3455d9, #2980b9);
  background-image: linear-gradient(to bottom, #3455d9, #2980b9);
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  -webkit-box-shadow: 0px 1px 3px #db6d41;
  -moz-box-shadow: 0px 1px 3px #db6d41;
  box-shadow: 0px 1px 3px #db6d41;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #fa3c3c;
  background-image: -webkit-linear-gradient(top, #fa3c3c, #d93434);
  background-image: -moz-linear-gradient(top, #fa3c3c, #d93434);
  background-image: -ms-linear-gradient(top, #fa3c3c, #d93434);
  background-image: -o-linear-gradient(top, #fa3c3c, #d93434);
  background-image: linear-gradient(to bottom, #fa3c3c, #d93434);
  text-decoration: none;
}
.para1{
    text-align:inherit;
}
/*--------------------------------------------------------------
# Hero Section
--------------------------------------------------------------*/
#hero {
    width: 100%;
    height: 90vh;
    overflow: hidden;
    position: relative;
  }
  
  #hero::after {
    content: "";
    position: absolute;
    left: 50%;
    top: 0;
    width: 130%;
    height: 95%;
    background: linear-gradient(to right, rgba(30, 67, 86, 0.8), rgba(30, 67, 86, 0.6)), url("../img/hero-bg.jpg") center top no-repeat;
    z-index: 0;
    border-radius: 0 0 50% 50%;
    transform: translateX(-50%) rotate(0deg);
  }
  
  #hero::before {
    content: "";
    position: absolute;
    left: 50%;
    top: 0;
    width: 130%;
    height: 96%;
    background: #68A4C4;
    opacity: 0.3;
    z-index: 0;
    border-radius: 0 0 50% 50%;
    transform: translateX(-50%) translateY(18px) rotate(2deg);
  }
  
  #hero .carousel-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
  }
  
  #hero h2 {
    color: #fff;
    margin-bottom: 30px;
    font-size: 48px;
    font-weight: 700;
  }
  
  #hero p {
    width: 80%;
    -webkit-animation-delay: 0.4s;
    animation-delay: 0.4s;
    margin: 0 auto 30px auto;
    color: #fff;
  }
  
  #hero .carousel-control-prev,
  #hero .carousel-control-next {
    width: 10%;
  }
  
  #hero .carousel-control-next-icon,
  #hero .carousel-control-prev-icon {
    background: none;
    font-size: 48px;
    line-height: 1;
    width: auto;
    height: auto;
  }
  
  #hero .btn-get-started {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 14px;
    letter-spacing: 1px;
    display: inline-block;
    padding: 12px 32px;
    border-radius: 50px;
    transition: 0.5s;
    line-height: 1;
    margin: 10px;
    color: #fff;
    -webkit-animation-delay: 0.8s;
    animation-delay: 0.8s;
    border: 2px solid #68A4C4;
  }
  
  #hero .btn-get-started:hover {
    background: #68A4C4;
    color: #fff;
    text-decoration: none;
  }
  
  @media (min-width: 1024px) {
    #hero p {
      width: 60%;
    }
  
    #hero .carousel-control-prev,
    #hero .carousel-control-next {
      width: 5%;
    }
  }
  
  @media (max-width: 768px) {
    #hero::after {
      width: 180%;
      height: 95%;
      border-radius: 0 0 50% 50%;
      transform: translateX(-50%) rotate(0deg);
    }
  
    #hero::before {
      top: 0;
      width: 180%;
      height: 94%;
      border-radius: 0 0 50% 50%;
      transform: translateX(-50%) translateY(20px) rotate(4deg);
    }
  }
  
  @media (max-width: 575px) {
    #hero h2 {
      font-size: 30px;
    }
  
    #hero::after {
      left: 40%;
      top: 0;
      width: 200%;
      height: 95%;
      border-radius: 0 0 50% 50%;
      transform: translateX(-50%) rotate(0deg);
    }
  
    #hero::before {
      left: 50%;
      top: 0;
      width: 200%;
      height: 94%;
      border-radius: 0 0 50% 50%;
      transform: translateX(-50%) translateY(20px) rotate(4deg);
    }
  }
  
  /*--------------------------------------------------------------
  # Hero No Slider Section
  --------------------------------------------------------------*/
  #hero-no-slider {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    position: relative;
    text-align: center;
  }
  
  #hero-no-slider::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(to right, rgba(30, 67, 86, 0.8), rgba(30, 67, 86, 0.6)), url("../img/hero-bg.jpg") center top no-repeat;
  }
  
  #hero-no-slider h2 {
    color: #fff;
    margin-bottom: 15px;
    font-size: 48px;
    font-weight: 700;
  }
  
  #hero-no-slider p {
    color: #fff;
  }
  
  #hero-no-slider .btn-get-started {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 14px;
    letter-spacing: 1px;
    display: inline-block;
    padding: 12px 32px;
    border-radius: 50px;
    transition: 0.5s;
    line-height: 1;
    margin: 10px;
    color: #fff;
    -webkit-animation-delay: 0.8s;
    animation-delay: 0.8s;
    border: 2px solid #68A4C4;
  }
  
  #hero-no-slider .btn-get-started:hover {
    background: #68A4C4;
    color: #fff;
    text-decoration: none;
  }
  
  @media (max-width: 575px) {
    #hero-no-slider h2 {
      font-size: 30px;
    }
  }

  